# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets and Local Configurations
.env
.env.local
*.secrets
secrets.toml

# Testing and Coverage
htmlcov/
.toast/
.tox/
.nosexy/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.劇院/

# Type Checkers and Linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
.black

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
